<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add A product</title>
    <link href="/public/css/main.css" type="text/css" rel="stylesheet" />
</head>
<body>
    <form action="/product" method="post">
        <p>Title: <input name="title"></p>
        <p>Price: <input type="number" min="1" name="price"></p>
        <p>Remark: <textarea name="remark"></textarea></p>
        <button>Add</button>
    </form>
</body>
</html>