/*div {
    color: pink;
}

#main {
    color: green;
}*/

.all{
   /*background-image: url("../images/background1.jpg");*/
   background-color:rgb(231, 231, 190);
}

h1{
  color: rgb(29, 244, 83);
  font-weight: bold;
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 40px;
  
}

.h1Name{
    color: rgb(213, 9, 91);
    font-weight: bold;  
}

.myself{
    text-align: center;
}

h3{
    color:  rgb(29, 244, 83);
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 25px;
}

.movies {
    font-style: italic;
}

.mfact{
    line-height: 0.5%;
    text-indent: 2%;

}

.mPfact{
    display: block;
    text-indent: 2%;
   
}

.link{
    text-decoration: none;
}

.link:hover{
    text-decoration:underline;
    color: #FF00FF;
}

.link:visited{
    color:blue;
}

